.button {
  width: 350px;
  height: 75px;
  padding: 12px;
  border-radius: 10px;
  font-size: large;
  box-shadow: 0px 10px 0px -3px #16161a;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #16161a;
  font-weight: 900;
  text-transform: uppercase;
}
.orange {
  background-color: var(--main-color);
  color: white;
}

.white {
  background-color: var(--background-color);
}
.yellow {
  background-color: var(--yellow-color);
}
